* {
    text-decoration: none;
    background-color: rgb(241, 241, 241);
    margin: 0px;
    font-family: Garamond;
    font-size: 16px;
}

div, p, a {
    background-color: unset;
}

h2 {
    font-size: 26px;
    font-weight: 500;
    margin: 10px;
    display: inline-block;
}

a {
    color: rgb(179, 241, 171);
}

img {
    width: 25px;
}

table {
    background-color: rgb(204, 204, 204);
}

td {
    vertical-align: top;
    padding: 5px 20px 2px 20px;
    background-color: rgb(204, 204, 204);
    min-width: 300px;
}

#top-bar {
    background-color: rgb(56, 56, 56);
    margin-top: 0px;
}

#home, a {
    margin: 10px;
    display: inline-block;
    font-weight:500;
}

#logo {
    margin: 10px 10px 0px 15px;
    display: inline-block;
}

#top-button {
    margin: 0px 0px 10px 10px;
    font-size: 18px;
    font-weight:900;
    vertical-align: middle;
}

#body-main {
    margin: 80px 100px 100px 100px;
    background-color: rgb(204, 204, 204);
}

#heading-main {
    text-align: center;
}

#heading-sub {
    color: rgb(31, 31, 31);
    font-size: 22px;
}

#titles {
    margin-left: 20px;
}

.category {
    background-color: rgb(204, 204, 204);
}

@media only screen and (max-width: 1200px) {

    * {
        font-size: 30px;
    }

    td {
        font-size: 38px;
        padding: 5px 10px 5px 5px;
    }

    img {
        width: 30px;
        vertical-align: 0px;
    }

    #top-button {
        margin: 10px;
        font-size: 30px;
        vertical-align: top;
    }

    h2 {
        font-size: 48px;
    }

    #heading-sub {
        color: rgb(31, 31, 31);
        font-size: 42px;
    }

    #body-main {
        margin: 0px 180px 20px 180px;
    }

    .category {
        font-size: 42px;
    }

    .description {
        display: none;
    }
    

    
}